<!doctype html>

<html>

<head>
  <title>Differential Equation PILOT: {{page.title}}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/syntax.css">
  <script type="text/javascript" src="{{site.baseurl}}/js/page.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="content">
    <div id="navbar_container">
      <ul id="navbar">
        <li><span class="style"> JHU PILOT for Differential Equations </span></li>
        <li id="navbar_home"><a href="{{site.baseurl}}/index.html">Home</a></li>
        <li id="navbar_resources"><a href="{{site.baseurl}}/resources.html">Resources</a></li>
        <li id="navbar_credit"><a href="{{site.baseurl}}/credits.html">Credits</a></li>
      </ul>
    </div>

    <hr id="headerSep">

    <div style="text-align: center;">
      <i>This semester has ended, for the most recent updates, please check on <a href="https://jhu-ode-pilot.github.io" target="_blank">all semesters</a>.</i>
    </div>

    <div id="pageTitle">{{page.title}}</div>

    {{content}}

    <div id="footer"></div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
        style.pageCategory = "{{page.category}}";
        style.onLoad();
      });
    </script>
  </div>
</body>

<script src="/FA25/assets/js/redirect.js"></script>

</html>
